/*
#Revision history:
#
#DEVELOPER              DATE            COMMENTS
Vithursan Nagalingam    2022-10-12      Made css for the basic look of the page, centralized, fonts, layout  
Vithursan Nagalingam    2022-10-14      Made css for the logo and the product pictures
Vithursan Nagalingam    2022-10-15      Made css for the buying page, for the form and text boxes
Vithursan Nagalingam    2022-10-21      Made css for the order page, styles for the tables
*/

body { 
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.gymlogo {
    height: 200px;
    width: 200px;
}


.productImages {
    height: 549px;
    width: 732px;
}

.productImg2xSize {
    border: 6px solid green;
    height: 100%;
    width: 100%;
}



.redText {
    color: red;
}

.greenText {
    color: green;
    font-weight: bold;
    font-size: 25px;
}

.formContainer label {
    width: 120px;
    display: inline-block;
    text-align: right;
}

.submitbutton {
    margin-left: 185px;
}

table, th, td {
    border: 1px solid black;
}

.tableModify {
    width: 100%;
}

.grayBackground {
    background-color: gray;
}


.whiteBackground {
    background-color: white;
}


.gymlogoLessOpacity {
    height: 200px;
    width: 200px;
    opacity: 0.3;
}


.productImagesLessOpacity {
    height: 549px;
    width: 732px;
    opacity: 0.3;
}
