/*
#Revision history:
#
#DEVELOPER              DATE            COMMENTS
Vithursan Nagalingam    2022-10-12      Made css for the basic look of the page, centralized, fonts, layout  
Vithursan Nagalingam    2022-10-14      Made css for the logo and the product pictures
Vithursan Nagalingam    2022-10-15      Made css for the buying page, for the form and text boxes
Vithursan Nagalingam    2022-10-21      Made css for the order page, styles for the tables
Vithursan Nagalingam    2022-11-23      Removed underline text of navigation menu
Vithursan Nagalingam    2022-12-11      adding css to my loginform
*/

body { 
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}



ul li {
    list-style-type: none;
    margin-right: 12px;
}

.navbar {
    background: black;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar ul {
    display: flex;
}

.gymlogo {
/*    height: 200px;
    width: 200px;*/
    height: 150px;
    width: 150px;
}


.productImages {
    height: 549px;
    width: 732px;
}

.productImg2xSize {
    border: 6px solid green;
    height: 100%;
    width: 100%;
}



.redText {
    color: red;
}

.greenText {
    color: green;
    font-weight: bold;
    font-size: 25px;
}

.formContainer label {
    width: 120px;
    display: inline-block;
    text-align: right;
}

.submitbutton {
    margin-left: 125px;
    padding: 8px 15px;
    width: 15%;
}

table, th, td {
    border: 1px solid black;
    padding: 12px 15px;
    border-radius: 5px 5px 0 0;
}

.tableModify {
    width: 100%;
}

.grayBackground {
    background-color: gray;
}


.whiteBackground {
    background-color: white;
}


.gymlogoLessOpacity {
    height: 200px;
    width: 200px;
    opacity: 0.3;
}


.productImagesLessOpacity {
    height: 549px;
    width: 732px;
    opacity: 0.3;
}


div {
    margin-bottom: 20px;
}

nav {
    padding: 8px;
    margin-bottom: 10px;
}

.requiredText {
    color: red;
    margin-left: 125px;
}

.h2Form {
    text-decoration: underline;
    margin-left: 30px;
}